<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Organization:" %><br />
    <%= select("invoice", "organization_id", Organization.all.collect {|o| [ o.organizationname + " " + "(" + o.address + "," + o.city + ")", o.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="field">
  	<%= f.label "Contact:" %><br />
    <%= select("invoice", "contact_id", Contact.all.collect {|c| [ c.firstname + " " + c.lastname + " " + "(" + c.contactemail + ")", c.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="field">
    <%= f.label :totalamount %><br />
    <%= f.number_field :totalamount %>
  </div>
  <div class="field">
    <%= f.label :duedate %><br />
    <%= f.date_select :duedate %>
  </div>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.number_field :paid %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
