<p id="notice"><%= notice %></p>

<p>
  <b>Organization:</b>
  <%= @invoice.organization_id %>
</p>

<p>
  <b>Contact:</b>
  <%= @invoice.contact_id %>
</p>

<p>
  <b>Totalamount:</b>
  <%= @invoice.totalamount %>
</p>

<p>
  <b>Duedate:</b>
  <%= @invoice.duedate %>
</p>

<p>
  <b>Paid:</b>
  <%= @invoice.paid %>
</p>

<p>
  <b>Notes:</b>
  <%= @invoice.notes %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
