<div class="wrap">
	<div class="header">
		<div class="contain">
			<div class="logo"><img src="/assets/logoHB.png" /></div>
			<div class="nav">
				<ul>
					<li><a href="">About Us</a>//</li>
					<li><a href="">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
		
	<div class="hero">
		<div class="contain">
			<div class="grid two-fifth"></div>
			<div class="grid three-fifth last">
				<h1>Does your organization help people find the services they need? </h1>
				<h2>HelpBase is Cloud-based software to help you help people -- quickly and inexpensively.</h2>
				<div class="button"><a href="#demo">See how HelpBase works<span class="arrow">&rarr;</span></a></div>
			</div>	
		</div>
	</div>	 
	<div class="clear"></div>	
	<div class="contain">	
		<div class="subHero">
			<h3 class="center">HelpBase: A benefit or question headline?</h3>
			<div class="grid one-seventh"><h3 class="superBig">Yes.</h3></div>
			<div class="grid six-seventh last">
				<div class="grid two-seventh"></div>
				<div class="grid two-seventh"><p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p></div>
				<div class="grid two-seventh last"><p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p></div>
			</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="features">
		<div class="buttonPrevious"><a href=""><img src="/assets/button-previous.png"></a></div>
		<div class="buttonNext"><a href=""><img src="/assets/button-next.png"></a></div>
		<div class="contain">
			<div class="grid half"><img src="/assets/screen-home.jpg" class="screenshot" /></div>
			<div class="grid half last">
				<h4>Headline for Screenshots</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
				<ul>
					<li>Bullet point</li>
					<li>Bullet point</li>
					<li>Bullet point</li>
				</ul>
			<div class="button"><a href="">Request a demo today<span class="arrow">&rarr;</span></a></div>
			</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="contain">
		<div class="form" name="demo" id="demo">
			<h3 class="center">See for yourself what HelpBase can do for your organization.<br />
<span class="cap bold">Request your free, no obligation demo today.</span></h3>
			<div class="formWrapper">
				<%= form_for :contactform, url: {controller:'contact_form',action:'create'}, html: {:id=>'demo_form'} do |f|%>
  					<div class="field">Your Name:<br />
  						<%= f.text_field :name %>
  					</div>
  					<div class="field">Your Email:<br />
  						<%= f.text_field :email %>
  					</div>
  					<div class="field">Your Organization:<br />
  						<%= f.text_field :organization%>
  					</div>
  					<div class="field">Your Phone:<br />
  						<%= f.text_field :phone%>
  					</div>
  					<div class="button"><a href="#" onclick="document.getElementById('demo_form').submit();alert('Thanks! We will be in touch to schedule your HelpBase demo!');return false;">Request a demo today<span class="arrow">&rarr;</span></a></div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="contain">
			<div class="grid half">
				<h5>About Us</h5>
				<p>HelpBase is developed by ThreeTwelve Creative, a software development company.</p>
			</div>
			<div class="grid half last">
				<h5>Contact Us</h5>
				<p><strong>Fort Myers Office</strong><br />
					(239) 226-0795<br />
					1533 Hendry Street<br />
					Suite 300<br />
					Fort Myers, FL 33901</p>
					<p><a href="mailto:support@helpbase.com">support@helpbase.com</a></p>
			</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="copyright">
		<div class="contain">
			<p>&copy;2013 HelpBase | A software product of <a href="http://threetwelvecreative.com">ThreeTwelve Creative</a></p>
		</div>
	</div>
	</div>
	</div>
</div> 
