<div class="wrap">
	<div class="header">
		<div class="contain">
			<div class="logo"><img src="/assets/logoHB.png" /></div>
			<div class="nav">
				<ul>
					<li><a href="#footerdiv">About Us</a>//</li>
					<li><a href="#footerdiv">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
		
		

		
		
	<div class="hero">
		<div class="contain">
			<div class="grid two-fifth"></div>
			<div class="grid three-fifth last">
				<h1>Say Hello to HelpBase, A Better Way to Match People to Services</h1>
				<h2>HelpBase is Cloud-based software to help you help people -- quickly and inexpensively.</h2>
				<div class="button"><a href="#screenjump">See how HelpBase works<span class="arrow">&rarr;</span></a></div>
			</div>	
		</div>
	</div>	 
	<div class="clear"></div>	
	<div class="contain">	
		<div class="subHero">
			<h3 class="center">A better way to match people and services?</h3>
			<div class="grid one-seventh"><h3 class="superBig">Yes.</h3></div>
			<div class="grid six-seventh last">
				<div class="grid two-seventh"></div>
				<div class="grid two-seventh"><p><strong>Easily create and manage</strong> your database of service providers. Assign providers to a relevent category taxonomy based on the AIRS/211 LA County Taxonomy. </p></div>
				<div class="grid two-seventh last"><p><strong>People in need of services</strong> can search in natural language, and narrow results intuitively. New providers can create accounts and easily add and update their profiles.</p></div>
			</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="features">
		<!--<div class="buttonPrevious"><a href=""><img src="/assets/button-previous.png"></a></div>-->
		<!--<div class="buttonNext"><a href=""><img src="/assets/button-next.png"></a></div>-->
		<div class="contain screenie" name="screenjump" id="screenjump">
			<div class="grid half"><img src="/assets/screen-home.jpg" class="screenshot" /></div>
			<div class="grid half last">
				<h4>Get started quickly and inexpensively.</h4>
				<p>Cloud-based software is hassle-free, constantly enhanced and automatically updated.</p>
				<ul>
					<li>Provide a logo and pick a color</li>
					<li>Give us a CSV of your providers to import</li>
					<li>We'll brand it to you, install the software on our servers, and you're up and running</li>
				</ul>
			<div class="button"><a href="#demo">Request a demo today<span class="arrow">&rarr;</span></a></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="contain">
		<div class="form" name="demo" id="demo">
			<h3 class="center">See for yourself how HelpBase can help your organization help.<br />
<span class="cap bold">Request your free, no obligation demo today.</span></h3>
			<div class="formWrapper">
				<%= form_for :contactform, url: {controller:'contact_form',action:'create'}, html: {:id=>'demo_form'} do |f|%>
  					<div class="field">Your Name:<br />
  						<%= f.text_field :name %>
  					</div>
  					<div class="field">Your Email:<br />
  						<%= f.text_field :email %>
  					</div>
  					<div class="field">Your Organization:<br />
  						<%= f.text_field :organization%>
  					</div>
  					<div class="field">Your Phone:<br />
  						<%= f.text_field :phone%>
  					</div>
  					<div class="button"><a href="#" onclick="senddemoreq();return false;">Request a demo today<span class="arrow">&rarr;</span></a></div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="footer" name="footerdiv" id="footerdiv">
		<div class="contain">
			<div class="grid half">
				<h5>About Us</h5>
				<p>HelpBase is developed by ThreeTwelve Creative. We've been building software for the online world since 2005, and we're excited to be helping you help others. For media, sales and other inquiries, please don't hesitate to contact us.</p>
			</div>
			<div class="grid half last">
				<h5>Contact Us</h5>
				<p><strong>Fort Myers Office</strong><br />
					(239) 226-0795<br />
					1533 Hendry Street<br />
					Suite 300<br />
					Fort Myers, FL 33901</p>
					<p><a href="mailto:info@helpbasesoftware.com">info@helpbase.com</a></p>
			</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="copyright">
		<div class="contain">
			<p>&copy;<%=Time.now.year%> ThreeTwelve Creative | HelpBase is a product of <a href="http://threetwelvecreative.com" style="color:white;">ThreeTwelve Creative, a software development company. </a></p>
		</div>
	</div>
	</div>
	</div>
</div>
<script src="/scripts/slider.js"></script> 
