<h1>Console</h1>


<div><%=link_to "Organizations", organizations_path%></div>
<div><%=link_to "Contacts", contacts_path%></div>
<div><%=link_to "Opportunities", opportunities_path%></div>
<div><%=link_to "Invoices", invoices_path%></div>
<div><%=link_to "Subscriptions", subscriptions_path%></div>
