<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @contact.firstname %>
</p>
<p>
  <b>Email:</b>
  <%= @contact.contactemail %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
