<%= form_for(@opportunity) do |f| %>
  <% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
      <% @opportunity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :progress %><br />
    <%= f.number_field :progress %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
  	<%= f.label "Contact:" %><br />
    <%= select("opportunity", "contact_id", Contact.all.collect {|c| [ c.firstname + " " + c.lastname + " " + "(" + c.contactemail + ")", c.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="field">
    <%= f.label "Organization:" %><br />
    <%= select("opportunity", "organization_id", Organization.all.collect {|o| [ o.organizationname + " " + "(" + o.address + "," + o.city + ")", o.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
