<p id="notice"><%= notice %></p>

<p>
  <b>Progress:</b>
  <%= @opportunity.progress %>
</p>

<p>
  <b>Status:</b>
  <%= @opportunity.status %>
</p>

<p>
  <b>Contact:</b>
  <%= @contact.firstname + " " + @contact.lastname + " (" + @contact.contactemail + ", "%>  <%=@opportunity.contact_id %>)
</p>

<p>
  <b>Organization:</b>
  <%= @organization.organizationname + " (" + @opportunity.organization_id.to_s + ")" if @organization %>
</p>


<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
